<div class="d-flex align-items-center justify-content-between">
  <h1>Project Detail</h1>
  <button class="btn orangered-button">
    Folders
    <i class="fa fa-folder"></i>
  </button>
</div>

<h3>Members</h3>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Position</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark Otto</td>
    <td>Project manager</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob Thornton</td>
    <td>Architect</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry Smith</td>
    <td>Structure manager</td>
  </tr>
  </tbody>
</table>
