<h1>Projects</h1>
<div class="row justify-content-between">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/project.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="btn orangered-button" (click)="clickOnProjectDetail.emit()">Go detail</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/project.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project 2</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="btn orangered-button" (click)="clickOnProjectDetail.emit()">Go detail</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/project.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project 3</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="btn orangered-button" (click)="clickOnProjectDetail.emit()">Go detail</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/project.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project 4</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="btn orangered-button" (click)="clickOnProjectDetail.emit()">Go detail</button>
    </div>
  </div>
</div>
