<h1>Folders</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Code</th>
    <th scope="col">Last Drawing</th>
    <th scope="col">Reviews</th>
    <th scope="col">Drawings</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1st floor</td>
    <td>F001</td>
    <td>Drawing 7</td>
    <td>7</td>
    <td>7</td>
  </tr>
  <tr>
    <td>2st floor</td>
    <td>F002</td>
    <td>Drawing 5</td>
    <td>5</td>
    <td>7</td>
  </tr>
  <tr>
    <td>3st floor</td>
    <td>F003</td>
    <td>Drawing 11</td>
    <td>11</td>
    <td>7</td>
  </tr>
  </tbody>
</table>
