<footer class="footer">
  <div class="container-fluid clearfix">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2023
        <a href="https://www.bimtecsrl.com/?fbclid=IwAR2q5SKOrnOdQaQuWS6SFTAh3XWGdloJXW0aSlZ85FK-WRtO6v5_HH-QGHU"
           target="_blank">Bimtec
        </a>.
      </span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Demo
        <i class="fa fa-heart text-danger"></i>
    </span>
  </div>
</footer>
